h1 {
  font-size: larger;
}
.grid-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: minmax(100px, auto);

}

#header{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;

}

#btn-container {
  grid-row: 2/4;
  flex-direction: column;
  padding: 20px;
  position: relative; 
  height:auto; 
  width:40vw
  
}

#show-results-btn {
  width: 100%;
}

#img-container{
  display: flex;
  height:200px;
  width: auto;
  object-fit: contain;
  justify-content: space-between;
    flex-direction: row;
  margin-bottom: 50px;
}



.grid-container div {
  border: 2px solid black;
  font-size: 1.5em;
  padding: 30px;

}

#display-results-list {
  font-size: 16px;
}

#footer {
  grid-column: 1/-1;
  display: flex;
}

#myChart{
  display: flex;

}